#nav {
    background-color: rgb(0, 87, 94);
}
.left{
    width: 100%;
    padding-right: 1vw;
    justify-content: left;
}
.right{
    width: 100%;
    padding-right: 1vw;
    justify-content: right;
}

.sidebar-toggle{
    display:flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    height: 50px;
}
.nav-menu {
    background-color: rgb(0, 87, 94);
    display: flex;
    height: 100vh; 
    justify-content: right;
    position: fixed;
    top:0;
    right:0;
    transition: 500ms;
}

.nav-menu-items{
    width: 100%;
    padding-top: 5vh;
    padding-left: 0;
    z-index: 3;
}

.nav-menu.active {
    right: -100%;
    transition: 350ms;
}

.nav-text {
    background-color: rgb(0, 204, 204);
    border-radius: 6px;
    display:flex;
    justify-content: start;
    align-items: center;
    margin: 8px 16px 8px 8px;
    list-style: none;
    height: 60px;
}
.link {
    text-decoration: none;
    color: white;
}
.nav-text{
    padding-left: 10px;
    font-size: 16px;
    display:flex;
    align-items: center;
    border-radius: 4px;
}

.link-text{
    padding-left: 15px
}